.duyuru-header {
  color: rgb(114, 169, 231);
  font-weight: 600;
}

.header {
  font-weight: 600;
  color: #27b4f5;
}

.course-header {
  font-weight: 600;
  color: #517cb4;
}

.side-info {
  font-size: 15px;
  margin-right: 5px;
}

.file-name {
  font-size: 15px;
}
a {
  border: 1px solid #5260ff;
  background: #5260ff;
  padding: 5px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
}
