<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title> Course Details </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img src="../assets/loading.gif" *ngIf="loading" />
  <ion-list>
    <ion-col>
      <ion-item>
        <ion-col>
          <h6 class="course-header">{{ course.courseName }}</h6>
          <h6>{{ course.instractorName }}</h6>
          <h6>{{ course.courseCode }}</h6>
        </ion-col>
        <div class="side-info">
          <i>
            <p>{{ course.floorNum }}</p>
            <p>{{ course.classRoomName }}</p>
          </i>
        </div>
      </ion-item>
      <ion-item *ngIf="course.announcements?.length > 0">
        <ion-icon color="secondary" name="notifications"
          >Announcements</ion-icon
        >
        <h5 class="header">Announcements</h5>
      </ion-item>
      <div *ngIf="course.announcements?.length > 0">
        <ion-item *ngFor="let item of course.announcements">
          <ion-col>
            <div class="ion-text-center">
              <p class="duyuru-header">{{ item.header }}</p>
              <p>
                {{ item.message }}
              </p>
            </div>
          </ion-col>
        </ion-item>
      </div>

      <div *ngIf="course.files?.length > 0">
        <ion-item>
          <ion-icon name="document-outline"></ion-icon>
          <h4 class="header">Dosyalar</h4>
        </ion-item>
        <ion-item *ngFor="let item of course.files">
          <ion-col>
            <div>
              <h5 class="file-name">{{ item.fileName }}</h5>
              <a
                color="tertiary"
                size="small"
                href="{{ baseUrlRoot }}DownloadFile/DownloadFile/?fileName={{
                  item.dataPath
                }}"
                >İndir</a
              >
            </div>
          </ion-col>
        </ion-item>
      </div>
    </ion-col>
  </ion-list>
</ion-content>
