.duyuru-header {
  color: rgb(114, 169, 231);
  font-size: large;
  font-weight: 700;
}

.header {
  font-weight: 600;
}

.course-header {
  font-weight: 600;
}

.side-info {
  font-size: 15px;
  margin-right: 5px;
}

.file-name {
  font-size: 15px;
}
