<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title> Attendance </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <img src="../assets/qr_button.svg" />
  </div>

  <ion-row>
    <ion-col>
      <ion-button
        color="tertiary"
        size="normal"
        expand="block"
        (click)="scanQr()"
        >Scan QR</ion-button
      >
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col> {{scannedOutput}} </ion-col>
  </ion-row>
</ion-content>
