<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title> Courses </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img src="../assets/loading.gif" *ngIf="loading" />
  <div *ngIf="!loading">
    <ion-list>
      <div class="course">
        <ion-item
          class="courses"
          *ngFor="let item of myCourses"
          (click)="openDetails(item.courseClassroomID)"
        >
          <ion-col>
            <h6 class="course-header">{{ item.courseName }}</h6>
            <h6>{{ item.instractorName}}</h6>
          </ion-col>

          <i><p class="course-code">{{ item.courseCode }}</p></i>
        </ion-item>
      </div>
    </ion-list>
  </div>
</ion-content>
