<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Derslerim </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-list-header>
        <p>Enterprise Information Systems</p>
      </ion-list-header>
      <p><i>Tunç Durmuş Medeni</i></p>
      <p><i>MIS498</i></p>
    </ion-item>
    <ion-item>
      <ion-list-header>
        <p>Enterprise Information Systems</p>
      </ion-list-header>
      <p><i>Tunç Durmuş Medeni</i></p>
      <p><i>MIS498</i></p>
    </ion-item>
    <ion-item>
      <ion-list-header>
        <p>Enterprise Information Systems</p>
      </ion-list-header>
      <p><i>Tunç Durmuş Medeni</i></p>
      <p><i>MIS498</i></p>
    </ion-item>
    <ion-item>
      <ion-list-header>
        <p>Enterprise Information Systems</p>
      </ion-list-header>
      <p><i>Tunç Durmuş Medeni</i></p>
      <p><i>MIS498</i></p>
    </ion-item>
  </ion-list>
</ion-content>
