<ion-header>
  <ion-toolbar color="secondary">
    <ion-title> Profil </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row class="image">
    <ion-col>
      <div class="ion-text-center">
        <h3>
          <img class="profile-img" src="../assets/profile.png" />
        </h3>
      </div>
    </ion-col>
  </ion-row>

  <ion-col>
    <div class="ion-text-center">
      <h3>{{ profileData.userName }}</h3>
      <h4>Ankara Yıldırım Beyazıt Üniversitesi</h4>
      <h6>{{ profileData.studentNumber }}</h6>
    </div>
  </ion-col>

  <ion-item>
    <ion-icon name="notifications">Duyurular</ion-icon>
    <h4>Duyurular</h4>
  </ion-item>

  <ion-item>
    <ion-col>
      <div *ngFor="let item of profileData.duyurular" class="ion-text-center">
        <h5>- {{ item.header }} -</h5>
        <p>{{ item.message }}</p>
        <p><i>{{ item.courseName }}</i></p>
        <hr />
      </div>

    </ion-col>
  </ion-item>
  <ion-row>
    <ion-col>
      <ion-button color="tertiary" size="normal" expand="block" (click)="logOut()">Log out</ion-button>
    </ion-col>
  </ion-row>
</ion-content>