<ion-header>
  <ion-toolbar color="secondary">
    <ion-title> Profil </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img src="../assets/loading.gif" *ngIf="loading" />
  <div *ngIf="!loading">
    <ion-row class="image">
      <ion-col>
        <div class="ion-text-center">
          <h3>
            <img class="profile-img" src="../assets/profile.png" />
          </h3>
        </div>
      </ion-col>
    </ion-row>

    <ion-col>
      <div class="ion-text-center">
        <h3 class="username">{{ profileData.userName }}</h3>
        <h6>{{ profileData.studentNumber }}</h6>
      </div>
    </ion-col>

    <ion-item>
      <ion-icon name="notifications">Duyurular</ion-icon>
      <h4 class="header">Duyurular</h4>
    </ion-item>

    <ion-item *ngFor="let item of profileData.duyurular">
      <ion-col>
        <div class="ion-text-center">
          <p class="duyuru-header">{{ item.header }}</p>
          <p>{{ item.message }}</p>
          <p class="course-name"><i>{{ item.courseName }}</i></p>
          <hr />
        </div>
      </ion-col>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button
          color="tertiary"
          size="normal"
          expand="block"
          (click)="logOut()"
          >Log out</ion-button
        >
      </ion-col>
    </ion-row>
  </div>
</ion-content>
