<ion-header>
  <ion-toolbar color="secondary">
    <ion-title> Profile </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img src="../assets/loading.gif" *ngIf="loading" />
  <div *ngIf="!loading">
    <ion-row class="image">
      <ion-col>
        <div class="ion-text-center">
          <h3>
            <img class="profile-img" src="../assets/profile.png" />
          </h3>
        </div>
      </ion-col>
    </ion-row>

    <ion-col>
      <div class="ion-text-center">
        <h3 class="username">{{ profileData.userName }}</h3>
        <h6>Management Information Systems</h6>
        <h6>{{ profileData.studentNumber }}</h6>
      </div>
    </ion-col>

    <ion-item>
      <ion-icon color="secondary" name="notifications">Announcements</ion-icon>
      <h5 class="header">Announcements</h5>
    </ion-item>

    <ion-item *ngFor="let item of profileData.duyurular">
      <ion-col>
        <div class="ion-text-center">
          <p class="duyuru-header">{{ item.header }}</p>
          <p>{{ item.message }}</p>
          <p class="course-name"><i>{{ item.courseName }}</i></p>
          <hr />
        </div>
      </ion-col>
    </ion-item>
  </div>

  <ion-row>
    <ion-col>
      <ion-button
        color="tertiary"
        size="normal"
        expand="block"
        (click)="logOut()"
        >Log out</ion-button
      >
    </ion-col>
  </ion-row>
  
</ion-content>
