.profile-img {
  width: 110px;
  height: 110px;
}
.duyuru-header {
  color: rgb(114, 169, 231);
  font-size: large;
  font-weight: 700;
}

ion-row {
  align-items: center;
}

.course-name {
  font-size: 12px;
}

.header {
  font-weight: 600;
}

.username {
  font-weight: 600;
  font-size: 1.5rem;
}
