<ion-toolbar color="secondary">
  <ion-img src="../assets/uniqrlogo.png"></ion-img>
  <ion-text class="texts" color="light">
    <ion-back-button defaultHref="login"></ion-back-button>
    <h5>Register Page</h5>
  </ion-text>
</ion-toolbar>
<ion-content color="secondary">
  <ion-grid>
    <form>
      <ion-item class="form-item" lines="full">
        <ion-label position="floating">Full Name</ion-label>
        <ion-input name="fullname" type="text" required #fullname></ion-input>
      </ion-item>

      <ion-item class="form-item" lines="full">
        <ion-label position="floating">Student Number</ion-label>
        <ion-input name="number" type="number" required #number></ion-input>
      </ion-item>

      <ion-item class="form-item" lines="full">
        <ion-label position="floating">Enter Email</ion-label>
        <ion-input name="email" type="text" required #email></ion-input>
      </ion-item>

      <ion-item class="form-item" lines="full">
        <ion-label position="floating">Enter Password</ion-label>
        <ion-input
          name="password"
          type="password"
          required
          #password
        ></ion-input>
      </ion-item>

      <ion-col class="ion-justify-content-center">
        <ion-button
          color="light"
          size="normal"
          expand="block"
          (click)="submit()"
          >Register</ion-button
        >
      </ion-col>
    </form>
  </ion-grid>
</ion-content>
